#header {
    border: none
}

#left {
    display: none
}

#right {
    display: none
}

#righttop {
    display: none
}


#rightbottom {
    display: none
}


#center {
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    border:1px solid #000;
}

.FlattrButton {
	display: none;
}
